# PyCity Schools Analysis

In [544]:
#Import Dependencies
import pandas as pd
import numpy as np

In [545]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [546]:
# Read School and Student Data Files and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [547]:
# Combine school and student data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [548]:
# Short Displa to Check merged data
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

Create a high level snapshot (in table form) of the district's key metrics, including:

Total Schools

Total Students

Total School Budget

Average Math Score

Average Reading Score

% Passing Math (The percentage of students that passed math.)

% Passing Reading (The percentage of students that passed reading.)

% Overall Passing (The percentage of students that passed math and reading.)

In [549]:
# Calculating Totals for District's Key Metrics


# Calculate School Totals
total_schools = len(school_data_complete["School ID"].value_counts())

# Calculate Student Total
total_students = school_data_complete["Student ID"].count()

# Calculate Budget Total
total_budget = school_data["budget"].sum()

# Calculate Average Score
avg_math_score = school_data_complete["math_score"].mean()
avg_reading_score = school_data_complete["reading_score"].mean()
overall_passing_rate = (avg_math_score + avg_reading_score)/2

# % Passing Math
passing_math = school_data_complete.query('math_score >70')["student_name"].count()
percentage_passing_math = school_data_complete.query('math_score >70')["student_name"].count() / total_students*100

# % Passing Reading
passing_reading = school_data_complete.query('reading_score >70')["student_name"].count()
percentage_passing_reading = school_data_complete.query('reading_score >70')["student_name"].count() / total_students*100

In [550]:
#create a new dataframe for summary
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[avg_math_score],
                                 "Average Reading Score":[avg_reading_score],
                                 "% Passing Math":[percentage_passing_math],
                                 "% Passing Reading":[percentage_passing_reading],
                                 "% Overall Passing Rate":[overall_passing_rate]                            
})

#rearrange columns
district_summary = district_summary[["Total Schools",
                                     "Total Students",
                                     "Total Budget",
                                     "Average Math Score",
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "% Overall Passing Rate"                            
                                    ]]

# format results
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,}".format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:.2f}%".format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map("{:.2f}%".format)
district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['% Overall Passing Rate'] = district_summary['% Overall Passing Rate'].map("{:,}".format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.2f}%".format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map("{:.2f}%".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.99%,81.88%,72.39%,82.97%,80.43160582078121

# School Summary

Create an overview table that summarizes key metrics about each school, including:

School Name

School Type

Total Students

Total School Budget

Per Student Budget

Average Math Score

Average Reading Score

% Passing Math

% Passing Reading

% Overall Passing Rate 

Create a dataframe to hold the above results AND give the displayed data cleaner formatting

In [551]:
# Organize complete data by school name 
grouped_school = school_data_complete.groupby(['school_name'])

# Get the school type for each school
school_type = grouped_school['type'].first()

# Calculate the total student for each school
students_per_school = grouped_school.size()

# Calculate the total budget for each school
budget_per_school = grouped_school['budget'].first()

# Calculate the budget per student for each school
budget_per_student = total_budget/students_per_school

# Calculate the average math score for each school
math_avg_per_school = grouped_school['math_score'].mean()

# Calculate the average reading score for each school
reading_avg_per_school = grouped_school['reading_score'].mean()

# Calculate the percentange of passing math score for each school
passing_math_per_school = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percent_passing_math_per_school = (passing_math_per_school/students_per_school)*100

# Calculate the percentange of passing reading score for each school
passing_reading_per_school = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
percent_passing_reading_per_school = (passing_reading_per_school/students_per_school)*100

# Calculate the overall passing score for each school
percent_overall_passing = (math_avg_per_school + reading_avg_per_school)/2

#Create a dataframe to hold the above results
school_summary = pd.DataFrame({"School Type": school_type,
                               "Total Students": students_per_school,
                                "Total School Budget": budget_per_school,
                                "Per Student Budget": budget_per_student,
                                "Average Math Score": math_avg_per_school,
                                "Average Reading Score": reading_avg_per_school,
                                "% Passing Math": percent_passing_math_per_school,
                                "% Passing Reading": percent_passing_reading_per_school,
                                "% Overall Passing": percent_overall_passing})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,4953.663183,77.048432,81.033963,66.680064,81.933280,79.041198
Cabrera High School,Charter,1858,1081356,13266.645856,83.061895,83.975780,94.133477,97.039828,83.518837
Figueroa High School,District,2949,1884411,8358.571719,76.711767,81.158020,65.988471,80.739234,78.934893
Ford High School,District,2739,1763916,8999.426068,77.102592,80.746258,68.309602,79.299014,78.924425
Griffin High School,Charter,1468,917500,16791.163488,83.351499,83.816757,93.392371,97.138965,83.584128
Hernandez High School,District,4635,3022020,5318.107443,77.289752,80.934412,66.752967,80.862999,79.112082
Holden High School,Charter,427,248087,57726.997658,83.803279,83.814988,92.505855,96.252927,83.809133
Huang High School,District,2917,1910635,8450.266712,76.629414,81.182722,65.683922,81.316421,78.906068
Johnson High School,District,4761,3094650,5177.363579,77.072464,80.966394,66.057551,81.222432,79.019429
Pena High School,Charter,962,585858,25623.106029,83.839917,84.044699,94.594595,95.945946,83.942308
Rodriguez High School,District,3999,2547363,6163.897974,76.842711,80.744686,66.366592,80.220055,78.793698
Shelton High School,Charter,1761,1056600,13997.403748,83.359455,83.725724,93.867121,95.854628,83.542589
Thomas High School,Charter,1635,1043130,15076.102752,83.418349,83.848930,93.272171,97.308869,83.633639
Wilson High School,Charter,2283,1319574,10796.946124,83.274201,83.989488,93.867718,96.539641,83.631844
Wright High School,Charter,1800,1049400,13694.126667,83.682222,83.955000,93.333333,96.611111,83.818611

# Top Performing Schools (By Passing Rate)

Sort and display the top five schools in overall passing rate

In [552]:
# Sort and display the top five schools in overall passing rate
top_performing_schools = school_summary.sort_values('% Overall Passing', ascending=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Pena High School,Charter,962,585858,25623.106029,83.839917,84.044699,94.594595,95.945946,83.942308
Wright High School,Charter,1800,1049400,13694.126667,83.682222,83.955000,93.333333,96.611111,83.818611
Holden High School,Charter,427,248087,57726.997658,83.803279,83.814988,92.505855,96.252927,83.809133
Thomas High School,Charter,1635,1043130,15076.102752,83.418349,83.848930,93.272171,97.308869,83.633639
Wilson High School,Charter,2283,1319574,10796.946124,83.274201,83.989488,93.867718,96.539641,83.631844

# Bottom Performing Schools (By Passing Rate)

Sort and display the five worst-performing schools

In [553]:
# Sort and display the five worst-performing schools
worst_performing_schools = school_summary.sort_values("% Overall Passing", ascending=True)
worst_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,6163.897974,76.842711,80.744686,66.366592,80.220055,78.793698
Huang High School,District,2917,1910635,8450.266712,76.629414,81.182722,65.683922,81.316421,78.906068
Ford High School,District,2739,1763916,8999.426068,77.102592,80.746258,68.309602,79.299014,78.924425
Figueroa High School,District,2949,1884411,8358.571719,76.711767,81.158020,65.988471,80.739234,78.934893
Johnson High School,District,4761,3094650,5177.363579,77.072464,80.966394,66.057551,81.222432,79.019429

# Math Scores by Grade

Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

Create a pandas series for each grade using a conditional statement

Group each series by school name

Combine the series into a dataframe

Optional: give the displayed data cleaner formatting

In [554]:
# Create score series for each grade using conditional statements

ninth_grade = school_data_complete[(school_data_complete["grade"]== "9th")]
tenth_grade = school_data_complete[(school_data_complete['grade']=='10th')]                                    
eleventh_grade = school_data_complete[(school_data_complete['grade']=='11th')]                                     
twelfth_grade = school_data_complete[(school_data_complete['grade']=='12th')] 

# Group scores by school name
ninth_grade_scores = ninth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_scores = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_scores = twelfth_grade.groupby(["school_name"]).mean()["math_score"]

# Create a dataframe to hold the above results
math_score_by_grade = pd.DataFrame({
                                    "9th": ninth_grade_scores,
                                    "10th": tenth_grade_scores,
                                    "11th": eleventh_grade_scores,
                                    "12th": twelfth_grade_scores})

# Cleaner format
math_score_by_grade = math_score_by_grade[["9th", "10th", "11th", "12th"]]
math_score_by_grade.index.name = None

#Display the DataFrame
math_score_by_grade.head(20)

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Score by Grade

Perform the same operations as above for reading scores

In [555]:
# Create score series for each grade using conditional statements

ninth_grade = school_data_complete[(school_data_complete["grade"]== "9th")]
tenth_grade = school_data_complete[(school_data_complete['grade']=='10th')]                                    
eleventh_grade = school_data_complete[(school_data_complete['grade']=='11th')]                                     
twelfth_grade = school_data_complete[(school_data_complete['grade']=='12th')] 

# Group scores by school name
ninth_grade_scores = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_scores = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_scores = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_scores = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]

# Create a dataframe to hold the above results
reading_score_by_grade = pd.DataFrame({
                                    "9th": ninth_grade_scores,
                                    "10th": tenth_grade_scores,
                                    "11th": eleventh_grade_scores,
                                    "12th": twelfth_grade_scores})

# Cleaner format
reading_score_by_grade = reading_score_by_grade[["9th", "10th", "11th", "12th"]]
reading_score_by_grade.index.name = None

#Display the DataFrame
reading_score_by_grade.head(20)

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

Create a table that breaks down school performances based on average Spending Ranges (Per 

Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

Average Math Score

Average Reading Score

% Passing Math

% Passing Reading

% Overall Passing (The percentage of students that passed math and reading.)

In [556]:
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,4953.663183,77.048432,81.033963,66.680064,81.933280,79.041198
Cabrera High School,Charter,1858,1081356,13266.645856,83.061895,83.975780,94.133477,97.039828,83.518837
Figueroa High School,District,2949,1884411,8358.571719,76.711767,81.158020,65.988471,80.739234,78.934893
Ford High School,District,2739,1763916,8999.426068,77.102592,80.746258,68.309602,79.299014,78.924425
Griffin High School,Charter,1468,917500,16791.163488,83.351499,83.816757,93.392371,97.138965,83.584128
Hernandez High School,District,4635,3022020,5318.107443,77.289752,80.934412,66.752967,80.862999,79.112082
Holden High School,Charter,427,248087,57726.997658,83.803279,83.814988,92.505855,96.252927,83.809133
Huang High School,District,2917,1910635,8450.266712,76.629414,81.182722,65.683922,81.316421,78.906068
Johnson High School,District,4761,3094650,5177.363579,77.072464,80.966394,66.057551,81.222432,79.019429
Pena High School,Charter,962,585858,25623.106029,83.839917,84.044699,94.594595,95.945946,83.942308
Rodriguez High School,District,3999,2547363,6163.897974,76.842711,80.744686,66.366592,80.220055,78.793698
Shelton High School,Charter,1761,1056600,13997.403748,83.359455,83.725724,93.867121,95.854628,83.542589
Thomas High School,Charter,1635,1043130,15076.102752,83.418349,83.848930,93.272171,97.308869,83.633639
Wilson High School,Charter,2283,1319574,10796.946124,83.274201,83.989488,93.867718,96.539641,83.631844
Wright High School,Charter,1800,1049400,13694.126667,83.682222,83.955000,93.333333,96.611111,83.818611

In [557]:
school_summary["Average Math Score"] = pd.to_numeric(school_summary["Average Math Score"])
school_summary["Average Reading Score"] = pd.to_numeric(school_summary["Average Reading Score"])
school_summary["% Passing Math"] = pd.to_numeric(school_summary["% Passing Math"])
school_summary["% Passing Reading"] = pd.to_numeric(school_summary["% Passing Reading"])
school_summary["% Overall Passing"] = pd.to_numeric(school_summary["% Overall Passing"])            
school_summary["Per Student Budget"] = pd.to_numeric(school_summary["Per Student Budget"])
school_summary["Total School Budget"] = pd.to_numeric(school_summary["Total School Budget"])
school_summary["Total Students"] = pd.to_numeric(school_summary["Total Students"])



# create spending bins
spending_bins = [0, 585, 615, 645, 675]

# Create labels for bins
group_name = ['< $585', "$585-615", "$615-645", "> $645"]

# slice data and categorize spending based on bins

school_summary["Spending Ranges"] = pd.cut(budget_per_student, spending_bins, labels = group_name)

#spending calculations

spending_math_avg = school_summary.groupby(["Spending Ranges"]).mean()["Average Math Score"]
spending_reading_avg = school_summary.groupby(["Spending Ranges"]).mean()["Average Reading Score"]
spending_passing_math = school_summary.groupby(["Spending Ranges"]).mean()["% Passing Math"] 
spending_passing_reading = school_summary.groupby(["Spending Ranges"]).mean()["% Passing Reading"] 
overall_passing_rate = (spending_passing_math + spending_passing_reading )/2

In [558]:
# Creaate a DataFrame            
spending_summary = pd.DataFrame({"Average Math Score": spending_math_avg,
                                 "Average Reading Score": spending_passing_reading,
                                 "% Passing Math" : spending_passing_math,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing": overall_passing_rate})

#reorder columns
spending_summary = spending_summary[["Average Math Score",
                                    "Average Reading Score",
                                    "% Passing Math",
                                    "% Passing Reading",
                                    "% Overall Passing"]]


#Display the DataFrame

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges,,,,,
< $585,NaN,NaN,NaN,NaN,NaN
$585-615,NaN,NaN,NaN,NaN,NaN
$615-645,NaN,NaN,NaN,NaN,NaN
> $645,NaN,NaN,NaN,NaN,NaN

# Scores by School Size

Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large)

In [559]:
# create spending bins
size_bins = [0, 1000, 3000, 5000]
group_name = ["Small (<1000)", "Medium (1000 -3000)", "Large (3000-5000)"]
         
# Slice data and categorize spending based on bins
school_summary["School Size"] = pd.cut(school_summary["Total Students"], size_bins, labels=group_name)



#calculate scores by size         
           
size_math_avg = school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_avg_reading = school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size__passing_math = school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_rate = (size_passing_math + size_passing_reading)/2
            
# Creaate a DataFrame            
size_summary = pd.DataFrame({"Average Math Score": size_math_avg,
                             "Average Reading Score": size_reading_avg,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                              "% Overall Passing Rate": overall_passing_rate})

#reorder columns
size_summary = size_summary({"Average Math Score",
                             "Average Reading Score",
                             "% Passing Math",
                             "% Passing Reading",
                             "Overall Passing Rate" })

#Display the DataFrame

size_summary

NameError: name 'size_passing_math' is not defined

# Scores by School Type

Repeat the above breakdown, but this time group schools based on school type (Charter vs. District)

In [ ]:
# Calculate the scores based by groupby

type_math_avg = school_summary.groupby(["School Type"])["Average Math Score"].mean()
type_reading_avg = school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
overall_passing_race = (type_passing_math + type_passing_reading) / 2

# Create a dataframe to hold the above results
type_summary = pd.DataFrame({"Average Math Score" : type_math_avg,
                             "Average Reading Score" : type_reading_avg,
                             "% Passing Math": type_passing_math.
                             "% Passing Reading" : type_passing_reading,
                             "% Overall Passing" : overall_passing_rate})
                             
type_summary = type_summary[["Average Math Score",
                             "Average Reading Score",
                             "% Passing Math", 
                             "% Passing Reading", 
                             "% Overall Passing" ]]
                             
#Display the DataFrame
type_summary

In [ ]:
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:.2f}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map("{:.2f}%".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("{:.2f}%".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map("{:.2f}%".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:.2f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:.2f}%".format)