# PyCity Schools Analysis

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Files to fetch
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
# Short Displa to Check merged data
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

Create a high level snapshot (in table form) of the district's key metrics, including:

Total Schools

Total Students

Total Budget

Average Math Score

Average Reading Score

% Passing Math (The percentage of students that passed math.)

% Passing Reading (The percentage of students that passed reading.)

% Overall Passing (The percentage of students that passed math and reading.)

In [6]:
# Calculating  District's Key Metrics' Totals

school_df = pd.DataFrame(school_data)

# total_schools = school_data_complete["School ID"].value_counts()
total_schools = school_df["School ID"].count()

# total_students = school_data_complete["Student ID"].sum()
total_budget= school_df["budget"].sum()

# total_budget= school_data_complete["budget"].sum()
total_students = school_df["size"].sum()

#Average math score
avg_math_score = school_data_complete["math_score"].mean()

#Average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

# % Passing Math
passing_math = school_data_complete.query('math_score >70')["School ID"].count()/ total_students*100

# % Passing Reading
passing_reading = school_data_complete.query('reading_score >70')["School ID"].count()/ total_students*100

# % Overall Passing
overall_passrate = (avg_math_score + avg_reading_score)/2


print(total_schools, total_students, total_budget, avg_math_score, avg_reading_score, passing_math, passing_reading, overall_passrate)

15 39170 24649428 78.98537145774827 81.87784018381414 72.39213683941792 82.97166198621395 80.43160582078121

In [10]:
# Creating a dataframe to hold results with a cleaner formatted display

District_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[avg_math_score],
                                 "Average Reading Score":[avg_reading_score],
                                 "% Passing Math":[passing_math],
                                 "% Passing Reading":[passing_reading],
                                 "% Overall Passing Rate":[overall_passrate]})

District_summary_df

District_summary_df["Average Math Score"] = District_summary_df["Average Math Score"].map("{:.2f}".format)
District_summary_df["Average Reading Score"] = District_summary_df["Average Reading Score"].map("{:.2f}".format)
District_summary_df["Total Budget"] = District_summary_df["Total Budget"].map("{:,}".format)
District_summary_df["% Passing Math"] = District_summary_df["% Passing Math"].map("{:.2f}".format)
District_summary_df["% Passing Reading"] = District_summary_df["% Passing Reading"].map("{:.2f}".format)
District_summary_df["% Overall Passing Rate"] = District_summary_df["% Overall Passing Rate"].map("{:.2f}".format)


District_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"24,649,428",78.99,81.88,72.39,82.97,80.43

# School Summary

Create an overview table that summarizes key metrics about each school, including:

School Name

School Type

Total Students

Total School Budget

Per Student Budget

Average Math Score

Average Reading Score

% Passing Math

% Passing Reading

Overall Passing Rate (The percentage of students that passed math and reading.)

Create a dataframe to hold the above results

In [ ]:
school_data_complete_new = school_data_complete[["School ID", "school_name", "type", "size", "budget", "Student ID", "name",
                                                 "gender", "grade", "reading_score","math_score"]].copy()
school_data_complete_new.head()

In [ ]:
# school_data_complete_new1 = school_data_complete_new.loc[school_data_complete_new["school name"] == "Wilson High School"]
# school_data_complete_new1.head()
In [6]:

In [ ]:
grouped_school_data = school_data_complete_new.groupby(['school name', "type"])
# grouped_school_data.drop_duplicates(subset=[budget], keep=False)


total_students_grp = grouped_school_data["Student ID"].count()
# total_budget_grp = grouped_school_data["budget"]
# total_budget_grp_var = total_budget_grp/ total_students_grp
total_budget_grp = grouped_school_data["budget"].mean()
per_stu_budget_grp =  (total_budget_grp/ total_students_grp)
avgmathscore_grp = grouped_school_data["math_score"].mean()
avgreadingscore_grp = grouped_school_data["reading_score"].mean()
passingmath_grp = school_data_complete_new.query('math_score >70')["School ID"].count()/ total_students_grp
passingreading_grp = school_data_complete_new.query('reading_score >70')["School ID"].count()/ total_students_grp 
overallpassrate_grp = ((avgmathscore_grp + avgreadingscore_grp)/2)

In [ ]:
# Converting a GroupBy object into a DataFrame
grouped_school_data_df = pd.DataFrame({"Total Students":total_students_grp,
                                       "Total School Budget": total_budget_grp, 
                                       "Per Student Budget":per_stu_budget_grp,
                                       "Average Math Score": avgmathscore_grp,
                                       "Average Reading Score": avgreadingscore_grp,   
                                       "% Passing Math":passingmath_grp,
                                       "% Passing Reading":passingreading_grp,
                                        "%Overall Passing Rate":overallpassrate_grp          
})

In [ ]:
grouped_school_data_df = grouped_school_data_df[[  "Total Students",
    "Total School Budget",
    "Per Student Budget",
    "Average Math Score",
    "Average Reading Score",
     "% Passing Math",   
     "% Passing Reading",                                             
    "%Overall Passing Rate"]]

In [ ]:
grouped_school_data_df
# Calculate the average test scores
# per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
# passingmath_grp = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100


grouped_school_data_df["Total School Budget"] = grouped_school_data_df["Total Students"].map("${:,.2f}".format)
grouped_school_data_df["Per Student Budget"] = grouped_school_data_df["Per Student Budget"].map("${:,.2f}".format)

grouped_school_data_df.head(10)

# Top Performing Schools (By Passing Rate)

Sort and display the top five schools in overall passing rate

In [ ]:
Top_schools = grouped_school_data_df.sort_values(
    ["%Overall Passing Rate"], ascending=False)
Top_schools.head()

# Bottom Performing Schools (By Passing Rate)

Sort and display the five worst-performing schools

In [ ]:
Bottom_schools = grouped_school_data_df.sort_values(
    ["%Overall Passing Rate"], ascending=True)
Bottom_schools.head()

# Math Scores by Grade

Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

Create a pandas series for each grade. Hint: use a conditional statement.

Group each series by school

Combine the series into a dataframe

Optional: give the displayed data cleaner formatting

In [ ]:
# students_gr_grade_df = student_data.groupby(['school name','grade']).reading_score.mean().unstack(level=1)
# students_gr_grade_df

nineth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

nineth_graders_scores = nineth_graders.groupby(["school name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school name"]).mean()["math_score"]


scores_by_grade_df = pd.DataFrame({"9th": nineth_graders_scores,
                                "10th":tenth_graders_scores,
                                "11th":eleventh_graders_scores,
                                "12th":twelfth_graders_scores
})  

scores_by_grade_df.index.name = None

scores_by_grade_df = scores_by_grade_df [["9th", "10th", "11th", "12th"]]


scores_by_grade_df

# Reading Score by Grade¶

Perform the same operations as above for reading scores

In [ ]:
# students_gr_grade_df = student_data.groupby(['school name','grade']).math_score.mean().unstack(level=1)
# students_gr_grade_df
nineth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

nineth_graders_scores = nineth_graders.groupby(["school name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school name"]).mean()["reading_score"]


scores_by_grade_df = pd.DataFrame({"9th": nineth_graders_scores,
                                "10th":tenth_graders_scores,
                                "11th":eleventh_graders_scores,
                                "12th":twelfth_graders_scores
                                
                                
 
    
    
})

scores_by_grade_df.index.name = None

scores_by_grade_df = scores_by_grade_df [["9th", "10th", "11th", "12th"]]


scores_by_grade_df

# Scores by School Spending

Create a table that breaks down school performances based on average Spending Ranges (Per 

Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

Average Math Score

Average Reading Score

% Passing Math

% Passing Reading

Overall Passing Rate (Average of the above two)

In [ ]:
grouped_school_data_dfbn = grouped_school_data_df.copy()
#grouped_school_data_dfbn.head()

In [ ]:
grouped_school_data_df3 = grouped_school_data_dfbn[["Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                     "%Overall Passing Rate"]]
grouped_school_data_df3.head()

In [ ]:
# grouped_school_data_df3["Per Student Budget"].astype(int)
# grouped_school_data_df3.head()
grouped_school_data_df3.dtypes

In [ ]:
bins=[0,585,615,645,675]
bin_names = ["< $585", "$585-615","$615-645","$645-675"]
grouped_school_data_df3["Spending ranges (Per Student)"] = pd.cut(per_stu_budget_grp, bins, labels=bin_names)

sch_spn_math_scores = grouped_school_data_df3.groupby(["Spending ranges (Per Student)"]).mean()["Average Math Score"]
sch_spn_reading_scores = grouped_school_data_df3.groupby(["Spending ranges (Per Student)"]).mean()["Average Reading Score"]
sch_spn_passing_math = grouped_school_data_df3.groupby(["Spending ranges (Per Student)"]).mean()["% Passing Math"]
sch_spn_passing_reading = grouped_school_data_df3.groupby(["Spending ranges (Per Student)"]).mean()["% Passing Reading"]
sch_spn_overall_passing_rate = (sch_spn_math_scores + sch_spn_reading_scores)/2

score_by_school_spn_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

score_by_school_spn_df

# Scores by School Size

Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
grouped_school_data_df3["Scores by School Size"] = pd.cut(total_students_grp, bins, labels=size_names)

sch_spn_math_scores = grouped_school_data_df3.groupby(["Scores by School Size"]).mean()["Average Math Score"]
sch_spn_reading_scores = grouped_school_data_df3.groupby(["Scores by School Size"]).mean()["Average Reading Score"]
sch_spn_passing_math = grouped_school_data_df3.groupby(["Scores by School Size"]).mean()["% Passing Math"]
sch_spn_passing_reading = grouped_school_data_df3.groupby(["Scores by School Size"]).mean()["% Passing Reading"]
sch_spn_overall_passing_rate = (sch_spn_math_scores + sch_spn_reading_scores)/2

score_by_school_size_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

score_by_school_size_df

# Scores by School Type

Perform the same operations as above, based on school type.

In [ ]:
sch_spn_math_scores = grouped_school_data_df3.groupby(["type"]).mean()["Average Math Score"]
sch_spn_reading_scores = grouped_school_data_df3.groupby(["type"]).mean()["Average Reading Score"]
sch_spn_passing_math = grouped_school_data_df3.groupby(["type"]).mean()["% Passing Math"]
sch_spn_passing_reading = grouped_school_data_df3.groupby(["type"]).mean()["% Passing Reading"]
sch_spn_overall_passing_rate = (sch_spn_math_scores + sch_spn_reading_scores)/2

score_by_school_Type_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

score_by_school_Type_df